%h100 {
  height: 100%;
}

.feat-tiles {
  margin: 0 #{$gutter}rem;

  @media #{$mediaMd} {
    @include flex();
    margin: -5px;
    justify-content: center;
  }

  > div {
    max-width: 300px;
    margin: 16px auto;

    @media #{$mediaMd} {
      width: 50%;
      max-width: 360px;
      padding: 5px;
      margin: 0;
    }

    @media #{$mediaXl} {
      max-width: 430px;
      width: 33.3%;
    }

    > .field__item {
      @extend %h100;
      background-color: $secondary;
      padding: 100% 0 0;
      width: 100%;
      height: 0;
      position: relative;

      > .hub-resource--type-paragraph-featured-content-item {
        position: absolute;
        border: solid 2px rgba(225, 225, 225, .3);
        padding: 1.6rem;
        width: calc(100% - 2.8rem);
        height: calc(100% - 2.8rem);
        top: 1.4rem;
        left: 1.4rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 13px;
          height: 13px;
          background-color: rgba(225, 225, 225, .3);
          content: '';
        }
      }

      h2 {
        font-size: 48px;
        color: $tertiary;
        line-height: 1.02;
        margin-bottom: 0;

        @media #{$mediaLg} {
            font-size: 72px;
        }

        sup {
          font-size: 27px;

          @media #{$mediaLg} {
            font-size: 40px;
          }
        }
      }

      h3 {
        color: white;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        line-height: 1.06;

        @media #{$mediaLg} {
          font-size: 2.4rem; 
        }
      }

      p {
        font-size: 11px;
        margin-bottom: 0;

        @media #{$mediaLg} {
          font-size: 16px;
        }
      }


      > .hub-resource--type-paragraph-quote-ref {
        @extend %h100;
        > .field__items {
          @extend %h100;
          > .field__item {
            @extend %h100;
            > div {
              @extend %h100;
              > .hub-resource {
                @extend %h100;
              }
            }
          }
        }
      }
    }

    .hub-resource-field {
      height: 100%;
    }

    .hub-resource-field__item {
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        article.embedded-entity {
          text-align: center;

        img {
          width: auto;
          height: 100%;
          max-height: 90px;
          display: inline-block;
          margin-bottom: 1rem;

          @media #{$mediaLg} {
            max-height: 135px;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

/*  img {
    width: 100%;
    height: auto;
    display: block;
  }*/

  // Temporary
  .hub-resource-field--name-field-fc-p-link {
    display: none;
  }
}

.stat_hl_io {
  position: relative;
  @include innerBorder;

  &:before {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 17px;
    left: 17px;
    content: "";
    background: rgba($white,.3);
    z-index: 10;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
  }
}
