/*  --------------------------------------------------------------------------  *\

    HEROES

    Heroes are used to build the first component on each page.  This component is
    the header for the main element of the mark-up.  So we will style the hero
    using a <header> in the <main id="content"> tag.

\*  --------------------------------------------------------------------------  */
.node__content > header {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)

    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)

    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    position: relative;
    overflow: hidden;

    &:after {
      width: 100vh;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      background: rgba($secondary,.65);
      transform-origin: top right;
      transform: rotate(-45deg);
      z-index: 100;
    }

    > div {

    }

    .field--name-field-interior-page-hero-img {
      position: relative;
      z-index: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .hero_title {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 42px;
      background-color: rgba($secondary,.85);
      padding: 25px 0;
      z-index: 200;

      @media #{$mediaFullHeader} {
        bottom: 72px;
      }

      h1 {
        margin: 0;
        color: $white;

        @media #{$mediaLg} {
          width: 80%;
        }
      }
    }

    .breadcrumb {
      height: 42px;
      position: relative;
      z-index: 0;
      background-color: rgba($secondary,.85);
      padding: 0;
      display: flex;
      align-items: center;

      @supports (mix-blend-mode: lighten) {
        z-index: 200;
        mix-blend-mode: lighten;
      }

      @media #{$mediaFullHeader} {
        height: 72px;
      }
    }

    .hero_title,
    .breadcrumb {
      > div {
        max-width: $siteWMx;
        margin: 0 auto;
        padding: 0 #{$gutter}rem;

        @each $q in $siteWQueryList {
            $i: index($siteWQueryList, $q);

            @if $i == 1 {
                width: nth($siteWList, $i);
            } @else {
                @media #{$q} {
                    width: nth($siteWList, $i);
                }
            }
        }
      }
    }

    &.interior_page {
      > .field {
        height: 164px;
        overflow: hidden;

        @media #{$mediaSm} {
          height: 320px;
        }

        @media #{$mediaFullHeader} {
          height: 515px;
        }
      }
    }

    .js-background {
      background-size: cover;
      background-position: top center;
      
      img {
        @include srOnly;
      }
    }

    // > div {
    //     // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    //     @include position(relative, 100);
    //     // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    //     max-width: $siteWMx;
    //     margin: 0 auto;
    //     padding: 0 #{$gutter}rem;
    //     // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    //     // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
    //     // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    //     // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    //
    //     @each $q in $siteWQueryList {
    //         $i: index($siteWQueryList, $q);
    //
    //         @if $i == 1 {
    //             width: nth($siteWList, $i);
    //         } @else {
    //             @media #{$q} {
    //                 width: nth($siteWList, $i);
    //             }
    //         }
    //     }
    //
    //     :last-child {
    //         margin-bottom: 0;
    //     }
    // }
    //
    // @media #{$mediaMd} {
    //     padding: #{$gutter * 2.5}rem 0;
    // }
    //
    // @media #{$mediaLg} {
    //     padding: #{$gutter * 3}rem 0;
    // }
    //
    // &.p-lg {
    //     padding: #{$gutter * 4}rem 0;
    //
    //     @media #{$mediaMd} {
    //         padding: #{$gutter * 6}rem 0;
    //     }
    //
    //     @media #{$mediaLg} {
    //         padding: #{$gutter * 8}rem 0;
    //     }
    // }
    //
    // &.program {
    //     .dates {
    //         text-align: center;
    //
    //         a {
    //             font-weight: bold;
    //             text-decoration: none;
    //
    //             &.active {
    //                 text-decoration: underline;
    //             }
    //         }
    //     }
    // }
    //
    // @media #{$mediaLg} {
    //     &.program {
    //         > div {
    //             @include flex(space-between, center, center, row wrap);
    //
    //             > nav {
    //                 @include flexItem(0, 0, auto);
    //                 width: 100%;
    //             }
    //
    //             h1 {
    //                 @include flexItem(0, 0, auto);
    //                 margin-bottom: 0;
    //                 width: calc(66.667% - #{$gutter}rem);
    //             }
    //         }
    //
    //         .dates {
    //             @include flexItem(0, 0, auto);
    //             text-align: right;
    //         }
    //     }
    // }
    /*  --------------------------------------------------------------------------  *\

    IMAGES, PICTURES, AND VIDEOS
    > img, > picture > img, > video {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include position(absolute, 0, (left, top), (50%, 50%), translate(-50%, -50%));
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        width: 100%;
        height: auto;
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        + div {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            color: $white;
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        @media screen and (orientation: portrait) {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            width: auto;
            height: 100%;
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }
    }

    \*  --------------------------------------------------------------------------  */
    /*  --------------------------------------------------------------------------  *\

    OPTIONS
    &.full-screen {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        height: 100vh;
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        > div {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            top: 75%;
            @include transform(translate(0, -50%));
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

            @media #{$mediaMd} {
                padding: 0 25rem 0 #{$gutter}rem;
            }

            @media #{$mediaLg} {
                padding: 0 5rem 0 #{$gutter}rem;
            }

            @media #{$mediaXl} {
                padding: 0 75rem 0 #{$gutter}rem;
            }
        }
    }

    &.cnt-tr {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        > div {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            top: 25%;
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            text-align: left;
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }
    }

    \*  --------------------------------------------------------------------------  */
}
