@font-face {
    font-family:"Conduit";
    src:url("../fonts/Conduit-Regular/Conduit-Regular.woff2") format("woff2"),url("../fonts/Conduit-Regular/Conduit-Regular.woff") format("woff"),url("../fonts/Conduit-Regular/Conduit-Regular.otf") format("opentype");
    font-style:normal;font-weight:normal;
}

@font-face {
    font-family:"Conduit";
    src:url("../fonts/Conduit-Bold/Conduit-Bold.woff2") format("woff2"),url("../fonts/Conduit-Bold/Conduit-Bold.woff") format("woff"),url("../fonts/Conduit-Bold/Conduit-Bold.otf") format("opentype");
    font-style:normal;font-weight:bold;
}
