/*
   Create sticky header for the creighton theme
*/

.sticky-header .header_bg_wrapper {
    position: fixed;
    margin-top:0;

}

.sticky-header .header_top_section_mega_menu {
    @include respond-to(null, tablet-max) {
         position: fixed;
         top: 100px;
    }
}

body.sticky-header header.header_opacity .header_bg_wrapper {
    background-color: #0054a6;
}



.sticky-header .header_top_section_menu{
    @media all and (max-width:768px)
    {
        position: fixed;
        top: 65px;
        right: .5px;
    }
}

.sticky-header.toolbar-vertical .header_bg_wrapper {

//  @media all and (max-width:576px)
//  {
//     margin-top: -35px;
//  }
}
body.toolbar-vertical.sticky-header .header_bg_wrapper {
  
     @media all and (max-width:600px)
 {
   top: 0;
 }
    
}

.sticky-header main{
    padding-top: 85px;
    @include respond-to(null, tablet-max) {
      //  padding-top: 125px;
    }
}

// .toolbar-tab {
//     @include respond-to(null, tablet-max) {
//     font-size: 10px;
// }
// }
// .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{
//     @include respond-to(null, tablet-max) {
//         padding-right: 1em;
//     }
// }

.site_name {
    z-index: 1;
}