{% if wrapper == 'section' %}
<section>
  <div>
    <div class="col-md-8">
{% endif %}
      <figure class="img_vid {{ media_type }}">
        <div class="img">
          {{ image }}
        </div>
        {% if video_id %}
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if caption != "" %}
        <figcaption>{{ caption }}</figcaption>
        {% endif %}
      </figure>
{% if wrapper == 'section' %}
    </div>
  </div>
</section>
{% endif %}
