{% if wrapper == 'section' %}
<section>
  <div>
    <div class="row align-center">
      <div class="col-xs-12 col-md-8">
  {% endif %}
        <figure class="img_vid {{ media_type }}">
          {% if video_id %}
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          {% else %}
          <div class="img">
            {{ image }}
          </div>
          {% endif %}
          {% if caption != "" %}
          <figcaption>{{ caption }}</figcaption>
          {% endif %}
        </figure>
  {% if wrapper == 'section' %}
      </div>
    </div>
  </div>
</section>
{% endif %}
