.layout__region--right,
.program_rail {
  height: 100%;

  .hub-resource-field--type-hub-text-long {
    a[class*="btn-"] {
      margin-bottom: 2em;
    }
  }
}

.field--name-hub-field-hub-degree-intro {
  @include intro;
}

.program_rail {
  position: relative;
  z-index: 10;
  background: rgba($accent-2XLt,.2);

  @media #{$mediaMdMax} {
    margin: 0 -#{$gutter}rem;
    padding: #{$gutter * 2}rem #{$gutter}rem;
  }

  > .block {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }

    p,
    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.block-field-blockhub-referencedegreehub-field-hub-degree-adm-rep {
      margin-top: 2em;
    }
  }

  h3 {
    //@include h4;
    position: relative;
    padding-bottom: (24 / 55) * 1em;

    &:after {
      width: 55px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: $tertiary;

      @media #{$mediaMd} {
        height: 8px;
      }
    }
  }

  h4 {
    margin-bottom: (2 / 24) * 1em;
  }

  h5 {
    @include h6;
  }

  @media #{$mediaMd} {
    //padding-left: #{$gutter}rem;
  }

  @media #{$mediaLg} {
    //padding-left: #{$gutter * 2}rem;
  }

  @media #{$mediaMd} {
    background-color: transparent;

    &:after {
      width: 100vw;
      height: calc(100% + 62px);
      position: absolute;
      top: -62px;
      left: -#{$gutter * 2}rem;
      z-index: 0;
      content: "";
      background: rgba($accent-2XLt,.2);
    }
  }

  // &:before {
  //   position: absolute;
  //   width: calc(100vw - 33%);
  //   height: calc(100% + 62px);
  //   top: -62px;
  //   right: 100%;
  //   background-image: url(../../img/feature_slash_bg.png);
  //   background-repeat: repeat-y;
  //   background-size: 75%;
  //   background-position: 98rem;
  //   content: "";
  // }

  > div {
    position: relative;
    z-index: 10;
  }

  ul {
    margin-left: 0;
  }

  .field--name-hub-field-hub-degree-title {
    @include h6;
  }
}

.prog_left {
  padding-bottom: #{$gutter}rem;
  @media #{$mediaMd} {
    margin-right: #{$gutter * 2}rem;
    padding-bottom: #{$gutter * 4}rem;
  }
}

.program_rail,
.prog_left {
  @media #{$mediaFullHeader} {
    padding-top: 38px;
  }
}

.admissions-rep {
  padding: 60px 0 0;
  border-top: 1px solid rgba($black,.2);

  h4 {
    margin-bottom: (3 / 24) * 1em;
  }

  @media #{$mediaMd} {
    padding: 70px 0 7rem - $gutter;
  }
}

.admissions-rep-info {
  @include flex();
  margin-top: #{$gutter}rem;

  > div {
    &:first-child {
      width: 102px;
      margin-right: 16px;

      @media #{$mediaMd} {
        width: 170px;
        margin-right: 18px;
      }
    }

    &:last-child {
      flex-grow: 1;

      .hub-resource-field {
        margin-bottom: (6 / 19) * 1em;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.hub-resource-field--name-field-hub-adm-rep-name {
  text-transform: uppercase;
  font-weight: 600;
}


.course-date {
  @include flex($ff: row nowrap);
  padding: 12px 0;

  @media #{$mediaLg} {
    padding: 20px 0;
  }

  .field + .field & {
    border-top: 1px solid $gray5;
  }

  > div {
    //transition: all 5s;
    &:first-child {
      width: 48px;
      flex: 0 0 48px;
      color: $white;
      text-align: center;
      font-family: $headingFF;
      font-weight: bold;

      @media #{$mediaLg} {
        width: 70px;
        flex: 0 0 70px;
      }

      > div {
      }

      time {
        > div {
          width: 100%;
          height: 56px;
          background: $secondary;
          @include flex($jc: center, $ff: column nowrap);

          @media #{$mediaLg} {
            height: 82px;
          }
        }
        span {
          line-height: 1em;
          &:first-child {
            font-size: 22px;
            margin-bottom: (3 / 22) * -1em;

            @media #{$mediaLg} {
              font-size: 32px;
            }
          }

          &:last-child {
            font-size: 12px;
            @include letterSpacing(50);
            text-transform: uppercase;

            @media #{$mediaLg} {
              font-size: 18px;
            }
          }
        }
      }
    }

    &:last-child {
      flex-grow: 1;
      font-size: 16px;
      line-height: 1.3em;
      padding-left: 14px;
      color: $gray2;

      a {
        color: $gray2;
        text-decoration: none;
        font-weight: bold;
        margin-top: .1em;
        display: inline-block;

        &:after {
          @include iconfont;
          content: "\E01C";
          display: inline-block;
          margin-left: (15 / 20) * 1em;
          transform: translate(0, (4 / 20) * 1em);
          transition: all .25s;
        }



        @include hover {
          color: $secondary;

          &:after {
            transform: translate(.25em, (4 / 20) * 1em);
          }
        }
      }

      @media #{$mediaLg} {
        font-size: 20px;
      }
    }
  }
}
