.hidden-menu {
  display: none;
}

header .header_top_section_menu,
header .header_top_section_menu.hidden-menu,
header .header_top_section_mega_menu.hidden-menu .two_menu_columns,
header .header_top_section_mega_menu.hidden-menu .menu_icons,
header .header_top_section_mega_menu.hidden-menu .mega_menu_bottom_wrapper {
  display: none;
}

@media all and (max-width: 768px) {
  header .header_bg_wrapper {
    margin-top: 0;
  }
  header .header_top_section_mega_menu {
    top: 135px;
  }
  header .header_top_section_menu.hidden-menu {
    display: block;
  }
}