/*  --------------------------------------------------------------------------  *\

    FILTERS ARCHIVES

\*  --------------------------------------------------------------------------  */
$r: 5;

.listing-filters {
  &.section {
    padding: 0;
  }

  .form-item {
    margin: 0;
  }

  .view-filters {
    .filter-search {
      @include flex($ai: center);
      position: relative;

      label {
        @media #{$mediaFullHeader} {
          @include srOnly;
        }
      }

      .form-actions {
        margin: 0;
      }

      input {
        height: 42px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 1rem;

        &[type="text"] {
          width: 182px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: 0;
        }

        &[type="submit"] {
          width: 40px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: $gray1;
          border-color: $gray1;
          text-indent: -9999px;
        }
      }

      .icon {
        font-size: 20px;
        color: $white;
        line-height: 1;
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        pointer-events: none;
      }
    }

    form {
      @include flex($ff: column nowrap);
    }
  }

  @media #{$mediaToggleHeader} {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    z-index: 99999;
    transform: translateY(100%);
    transition: all .25s;

    &.open {
      transform: translateY(0);
    }

    .row,
    [class*="col-"],
    .view-filters {
      padding: 0;
      height: 100%;
    }

    .view-filters {
      form {
        height: 100%;
      }
    }

    .accordion.filters {
      flex-grow: 1;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat($r,auto) 1fr;
      background: $gray9;

      dd {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: $r + 2;
        background: $white;
        padding: 15px;



        label {
          display: block;
        }

        input[type="radio"],
        input[type="checkbox"] {

          &:checked + label {
            background: red;
          }
        }
      }

      dt {
        grid-column: 1;
        @for $i from 1 to $r {
          &:nth-child(#{($i * 2) - 1}) {
            grid-row: $i;
          }
        }
      }
    }
  }

  @media #{$mediaFullHeader} {

    .view-filters {
      background: $off-white2;
      border-bottom: 1px solid $gray75;
      padding: #{$gutter / 2}rem;
      margin-top: #{$gutter / 2}rem;

      .form--inline {
        display: flex;
        justify-content: space-between;

        &:after {
          display: none;
        }

        .form-actions {
          @include srOnly;
        }
      }



      form {
        justify-content: space-between;
        flex-direction: row;
      }

    }
  }
}

.listing-filters-toggle {
  width: 100%;
  background: $primary;
  color: $white;
  font-size: 18px;
  font-family: $headingFF;
  padding: 8px;
  @include flex($jc: center, $ai:center);
  order: 10;

  span {
    display: inline-block;
  }

  .icon {
    height: 38px;
    width: 38px;
    font-size: 20px;
    border: 1px solid rgba($white,.4);
    border-radius: 4px;
    line-height: 1em;
    margin-right: 11px;
    @include flex($jc: center, $ai:center);
  }

  @media #{$mediaFullHeader} {
    display: none;
  }
}

.listing-header {
  &.section {
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    margin-top: (24 / 16) * 1em;

    @media #{$mediaXs} {
      display: none;
    }
  }
}

.accordion.filters {
  margin: 0;

  dt ~ dt {
    margin: 0;
  }

  div[role="button"] {
    font-size: 15px;
    color: $gray1;
    cursor: pointer;
    padding: 8px;
    border: 2px solid $gray6;
    border-left: 0;
    transition: all .5s;

    &[aria-expanded="true"] {
      background: $thead;
      border-color: $thead;
      color: $white;
    }
  }

  legend {
    @include srOnly;
  }
}
