
@font-face {
    font-family:"ConduitRegITC TT";
    src:url("Conduit-Regular.woff2") format("woff2"),url("Conduit-Regular.woff") format("woff"),url("Conduit-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        