
@font-face {
    font-family:"ConduitITCStd-Bold";
    src:url("Conduit-Bold.woff2") format("woff2"),url("Conduit-Bold.woff") format("woff"),url("Conduit-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        